<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Cifrado Playfair</title>
</head>
<body>
    <section class="MainWindow Flex">
        <div class="Language">
            <a href="/english"><img src="../static/assets/icons/English.png" alt="English"></a>
        </div>
        <header class="Header Flex">
            <h1>Algoritmo Playfair</h1>
        </header>
        <div class="MainBox Flex">
            <!-- Caja para el cifrado del mensaje -->
            <form class="Cifrado Flex" action="cifrar" method="post">
                <h2 class="SubTitle"> Cifrado </h2>
                <h3>Ingrese el mensaje a cifrar:</h3>
                <input type="text" name="Mensaje_Cifrar" id="">
                <h3>Ingrese la palabra clave: </h3>
                <input type="text" name="Palabra_Cifrar" id="">
                <button type="submit" class="button" value="Cifrar" id="btn_Cifrar">Cifrar</button>
                <h3>El mensaje cifrado es:</h3>
                {% for message in get_flashed_messages() %}
                    <p>{{ message }}</p>
                {% endfor %}
                <label for=""></label>
            </form>
            <!-- Caja para el decifrado del mensaje -->
            <form class="Decifrado Flex" action="decifrar" method="post">
                <h2 class="SubTitle"> Decifrado</h2>
                <h3>Ingrese el mensaje a decifrar: </h3>
                <input type="text" name="Mensaje_Decifrar" id="">
                <h3>Ingrese la palabra clave:</h3>
                <input type="text" name="Palabra_Decifrar" id="">
                <button class="button">Decifrar</button>
                <h3>El mensaje decifrado es:</h3>
                {% for message in get_flashed_messages() %}
                    <p>{{ message }}</p>
                {% endfor %}
                <label for=""></label>
            </form>
        </div>
        <!-- Footer -->
        <footer class="Footer Flex">
            <!-- Social icons -->
            <div class="social_icons Flex">
                <a href="https://github.com/LuisEstebanAcevedoBringas" target="_blank"><i class="fab fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/luisestebanacevedobringas/" target="_blank"><i class="fab fa-brands fa-linkedin-in"></i></a>
                <a href="https://www.instagram.com/bringas.el.pelon/" target="_blank"><i class="fab fa-brands fa-instagram"></i></a>
                <a href="https://luisbringas.com/" target="_blank"><i class="fab fas fa-ghost"></i></a>
            </div>
            <div class="FooterText Flex">Luis Esteban Acevedo Bringas - 2022</div>
        </footer>
    </section>
    <script src="https://kit.fontawesome.com/7fb5c2cc44.js" crossorigin="anonymous"></script>
</body>
</html>